@import "tailwindcss";

@theme {
  --shadow-hard-8: rgb(0, 0, 0) 8px 8px 0px 0px;
  --shadow-hard-4: rgb(0, 0, 0) 4px 4px 0px 0px;
}
/* enable dark mode only when .dark is present */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-link: "DM Sans", sans-serif; 
}